button {
  width: 140px;
  min-height: 30px;
  color: #ffffff;
  background: #232323;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  border-radius: 5px;
}
body {
  background: black;
}

.title {
  color: white;
  font-size: 300px 300px;
  text-align: center;
}
.controlPanel .col-md-4 {
  display: flex;
}
.controlPanel .col-md-4 button {
    margin: auto
}
@media (max-width: 768px) {
  button {
    /* width:100%; */
    /* margin:5px */
  }
  .controlPanel .col-md-4 button {
    /* margin: auto */
    width:100%;
    margin: 0.5rem;
    padding: 0.5rem
}
}
